{% if 'admin' in request.url and current_user.is_admin %}
    {% set admin = True %}
{% endif %}
<div class="row">
    <div class="col-lg-3">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Average Revenue">FEES</h5>
                        <h3 class="my-3">${{ cashed_out_price_sum }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span>Accumulated for lifetime {% if admin %}| All{% endif %}</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title text-bg-primary rounded rounded-3 fs-3 shadow">
                                <i class="ri-money-dollar-circle-line"></i>
                            </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Orders">Products</h5>
                        <h3 class="my-3">{{ cashed_out_count }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span>Cashed Out {% if admin %}| All{% endif %}</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title text-bg-info rounded rounded-3 fs-3 shadow">
                                                    <i class="ri-shopping-basket-2-line"></i>
                                                </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Average Revenue">Counselling
                            Fees</h5>
                        <h3 class="my-3">${{ not_cashed_out_price_sum }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span>Accumulated before cashout {% if admin %}| All{% endif %}</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title text-bg-secondary rounded rounded-3 fs-3 shadow">
                                <i class="ri-money-dollar-circle-line"></i>
                            </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Orders">Products</h5>
                        <h3 class="my-3">{{ not_cashed_out_count }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span>Ready to cash out {% if admin %}| All{% endif %}</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title text-bg-warning rounded rounded-3 fs-3 shadow">
                                                    <i class="ri-shopping-basket-2-line"></i>
                                                </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div>
    </div>
</div>